
This is App module
<!--

  Router Outlet

  RouterOutlet is holding our routs

<h2>We are testing our routes</h2>

<nav>
  <li>
    <ul>
      <li><a routerLink="/home-component" routerLinkActive="active">This is Home Page</a> </li>
      <li><a routerLink="/navbar-component" routerLinkActive="active">This is Navbar Page</a> </li>
      <li><a routerLink="/form-component" routerLinkActive="active">Form Component</a> </li>
    
    </ul>
  </li>
</nav>

<router-outlet></router-outlet>


-->
<app-e-info></app-e-info>



