<div class= "container">
    <h1>User Registration</h1>
    <form>
        <div class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" name="firstName" class=" form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstName">LastName</label>
            <input type="text" name="LastName" class=" form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstName">Email</label>
            <input type="text" name="Email" class=" form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstName">Password</label>
            <input type="text" name="Password" class=" form-control">
        </div>
        <pre></pre>  
        <button class="btn-btn-large" type="submit"></button>
    </form>
</div>
